#chatBg {
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  background-color: var(--bgL3);
  left: 0;
  overflow-y: scroll;
  /*7dcb23*/
}
#chat {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: calc(100% - 30px);
  max-width: 700px;
  background-color: transparent;
}
.chatBox {
  float: left;
  width: 100%;
  margin: 15px;
}
.chatBoxProfilePicture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
.chatBoxContent {
  display: inline-block;
  background-color: var(--bgL4);
  color: var(--textColor);
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  max-width: 50%;
}
#message {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
}
#messageBackground {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: var(--bgL3);
}
#inputMessage {
  position: absolute;
  background-color: var(--bgL4);
  float: center;
  width: 80%;
  height: 30px;
  border: 0;
  border-radius: 3px;
  color: var(--textColor);
  padding: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  resize: none;
}

/*#141414*/
