#groupViewScreen {
  position: absolute;
  left: 30%;
  height: 100%;
  width: 70%;
  top: 0;
  background-color: var(--bgL3);
  box-shadow: black -2px 0px 20px 0px;
  z-index: 1;
}
#groupOverview {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: var(--bgL2);
  color: var(--textColor);
  z-index: 0;
}
#groupImage {
  width: 30%;
  margin-top: 40px;
  border-radius: 5px;
  margin-left: 15px;
}
#groupName {
  margin-left: 15px;
  margin-top: 15px;
  color: var(--textBackground);
}
#channelList {
  margin-top: 20px;
  margin-left: 0;
  width: 100%;
}
.channelListEntry {
  width: 100%;
  padding: 2px;
  padding-left: 15px;
  cursor: pointer;
}
.channelListEntry:hover {
  background-color: var(--hover) !important;
}
#groupOptions {
  position: relative;
  top: 5px;
  cursor: pointer;
}
#viewAllGroupsText {
  position: relative;
  top: 20px;
  color: var(--textBackground);
  margin: 15px;
  cursor: pointer;
}
#viewAllGroupsText:hover {
  color: var(--accentColor);
}
.group_admin {
  display: unset;
}
